body{
    font-family: 'Ubuntu', sans-serif;;
    border: 1px solid #4a4a4a ;
}
strong,span{
    font-size: 32px
}
.md{
    display: flex;
    align-items: center;
}
header{
height: 65px;
}
nav a {
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 26px;
}
.mobile {
    display: none;
    
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    display: flex;
}
li{
    padding: 0px 16px;
}
.logo{
    height: 36px;
    margin-left: 24px;
    
}
.side-left {
    margin-left: 24px;
    margin-top: 32px;
    margin-right: 24px;
    margin-bottom: 32px;
    width: 60%;
}
.contain-1 h1{
    font-size: 61px;
}
.contain-1 p {
    font-size: 35px;
}
section#container {
    background-color: #d8d8d8;
}
img.main {
    width: 100%;
    
}
.middle {
    width: 100%;
    display: flex;
}
.contain {
    width: 40%;
}
.contain-1 {
    
    padding-top: 145px;
    padding-left: 24px;
}
.contain-1.h1 {
    font-size: 51px;
}
button {
    background-color: #4a4a4a;
    width: 80%;
    padding: 8px 0px;
    color: white;
    font-size: 20px;
}
.side-left2 {
    padding: 32px 24px;
    width: 60%;
}
img.main2{
    height: 570px;
    width: 100%;
}
.middle2 {
    display: flex;
}
.side-right1 {
    display: flex;
}
.item1 {
    padding: 16px;
    width: 45%;
}
.item1 img{
    width: 100%;
}
.contain-2 {
    width: 60%;
    padding-top: 29px;
    padding-left: 7px;
}
.contain-2 h2{
    font-size: 39px;
    color: #4a4a4a;
}
.contain-2 a{

    font-size: 20px;
    text-decoration: none;
}
.side-left2 h2{
        margin-top: 32px;
        margin-bottom: 24px;
        font-size: 43px;
        color: #4a4a4a;
    
}
.middle2 p{
    color:#7d7d7d;
    font-size: 20px;
}
.middle2mobile {
    display: none;
}
.main-right {
    width: 40%;
    margin-top: 16px;
}
.middle3 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    padding: 32px 72px;
}
#page3 h1, #page4 h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 32px;
    margin-bottom: 0;
    margin-top: 0;
    color:#4a4a4a;
}
#page3{
    background-color: #eaebec;
}
.row1 img{
    width: 100%;
}
.row2 {
    padding: 16px;
}
.row2 p {
    font-size: 20px;
    color:#7d7d7d;
    margin: 8px 0;
}
.row2 h3{
    color:#4a4a4a;
    font-size: 30px;
    margin-bottom: 24px;
    margin-top: 0;
}
.col{
    background-color: white;
}
.leftbar {
    margin: 32px 24px;
    width: 60%;
}
.rightbar {
    margin: 16px 0px;
    width: 40%;
}
.vi{
    width:100%
}
.middle4 {
    display: flex;
}
.rightbar-up {
    display: flex;
}
.rightbar-down {
    display: flex;
}
.right-img {
    height: auto;
    width: 35%;
    padding: 16px;
}
.right-contain {
    width: 65%;
}
.right-img img{
    width: 100%;
}
.leftbar-down h3{ 
        margin-top: 24px;
        margin-bottom: 8px;
}
.middle4 h3{
    color: #4a4a4a ;
    font-size: 32px;
}
.middle4 p{
    font-size: 25px;
    color:#7d7d7d;
}
#page4 {
    border-bottom: 1px solid #4a4a4a;
    background-color: #f3f5f5;
}
footer {
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.foot p{
    color: #4a4a4a ;
    margin: 16px 24px;
    
}
footer a{
    color: #4a4a4a ;
    text-decoration: none;
}
footer ul{
    margin: 0px;
}
footer li{
        padding: 16px;
}



@media only screen and (max-width: 972px)    {

  .side-left{
    margin:0px;
    width:100%;
}
.middle {
    padding-bottom: 32px;
    padding-top: 0px;
    display: block;
}
.contain {
  padding-left: 16px;
  width: 100%;
}
.contain-1{
    padding-top: 0px;
    padding-left: 0px;
    
}
.contain-1 h1 {
    font-size: 45px;
}
nav {
    display: none;
}
.mobile {
    display: flex;
    justify-content: space-between;
    padding: 17px;
}
}
@media only screen and (max-width: 1400px) {
.side-left2 {
    padding: 32px 14px;
    width: 50%;
}
.contain-2 h2 {
    font-size: 35px;
}
.contain-2 {
    width: 41%;
}
.item1{
    width: 61%;
}
.contain-1 {
    padding-top: 7px;
    padding-left: 4px;
}
.contain-1 h1 {
    font-size: 50px;
}
.contain-1 p {
    font-size: 30px;
}
.button{
    padding: 17px 0px;
}
}
@media only screen and (max-width: 972px){
    .side-right1 {
    display: block;
}
.side-left2 {
    display: none;
}
.main-right {
    width: 92%;
}
.item1{
    width: 97%;
}
.contain-2 {
    padding-top: 0px;
    width: 98%;
}
.contain-2 h2 {
    margin-top: 0;
    font-size: 37px;
}
.middle2 p{
    font-size: 27px;
}
.contain-2 a {
    font-size: 26px;
}
.middle3 {
    display: none;
}
.middle2mobile {
    display: block;
}
#page3 {
    background-color: white;
}
.mobile2 {
    background-color:#d8d8d8;
    border: 1px solid black;
    row-gap: 5px;
    margin: 8px;
}
.mobile2 h3 {
    color: #4a4a4a;
    font-size: 24px;
    margin: 16px 16px 24px 16px;
}
.rightbar {
    display: none;
}
.middle4 {
    display: block;
    width: 100%;
}
.leftbar{
    margin: 20px 0px 0px 10px;
    width: 95%;
}
.leftbar-down {
    display: none;
}
footer ul {
    display: none;
}
.foot p{
    font-size: 16px;
    margin: 40px 24px;
}
}